ion-action-sheet.md:not(.md3-disabled) {
  --max-width: 640px;
  --background: var(--md-sys-color-surface-container-low);
  --color: var(--md-sys-color-on-surface);

  .action-sheet-container {
    overflow: hidden;
    border-radius: 28px 28px 0 0;
    box-shadow: var(--token-elevation-1);

    .action-sheet-title {
      padding: 24px 24px 16px;
    }

    .action-sheet-button {
      padding: 12px 24px;

      &.action-sheet-destructive {
        --button-color: var(--md-sys-color-error);
        --color: var(--md-sys-color-error);
      }

      &.action-sheet-preferred {
        --button-color: var(--md-sys-color-on-primary);
        --color: var(--md-sys-color-on-primary);
        --button-background: var(--md-sys-color-primary);
        --button-background-activated: var(--md-sys-color-on-primary);
        --button-background-activated-opacity: 0.12;
        --button-background-hover: var(--md-sys-color-on-primary);
        --button-background-hover-opacity: 0.08;
        --button-background-focused: var(--md-sys-color-on-primary);
        --button-background-focused-opacity: 0.12;
      }
    }
  }
}
