@use '../utils/structured-list';

ion-list.md:not(.md3-disabled) {
  @include structured-list.support-text;

  &:not(.list-inset) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

ion-list.md:not(.md3-disabled).list-inset {
  @include structured-list.layout(8px, 16px);

  ion-item-group > ion-item {
    --border-color: var(--ion-color-light, #fff);

    ion-note[slot='end'] {
      font-size: max(14px, 1rem);
    }

    &:not(:last-of-type):not(.item-lines-inset):not(.item-lines-none) {
      --border-radius: 4px;
      --border-width: #{0px 0px 2px 0px};
      --inner-border-width: 0;
      --show-inset-highlight: 0;
      --show-full-highlight: 1;
    }

    &:has(ion-input.input-fill-outline),
    &:has(ion-textarea.textarea-fill-outline) {
      --border-width: 0 !important;
      --inner-padding-bottom: 4px;
      ion-input,
      ion-textarea {
        margin: 16px 0 12px;
      }
    }

    & > ion-input[labelplacement='floating'] {
      transition: transform 200ms ease;

      &:not(.label-floating) {
        transform: translateY(-7px);
      }

      &.label-floating {
        transform: translateY(-4px);
      }
    }
  }
}

ion-list-header.md:not(.md3-disabled) {
  padding-left: calc(var(--ion-safe-area-left, 0px) + 4px);
}
