ion-header.md:not(.md3-disabled),
ion-footer.md:not(.md3-disabled) {
  box-shadow: none;
}

ion-header.md:not(.md3-disabled),
ion-footer.md:not(.md3-disabled) {
  ion-buttons[slot='start'],
  ion-back-button[slot='start'] {
    margin-left: 16px;
  }
  ion-buttons[slot='end'],
  ion-back-button[slot='end'] {
    margin-right: 16px;
  }
  /* fallback ion-buttons[slot=end], ion-back-button[slot=end] */
  ion-toolbar ion-buttons > ion-back-button {
    margin-left: 0;
    margin-right: 0;
  }
}

ion-header.md:not(.md3-disabled) ion-toolbar {
  &:has([slot='start']) ion-title {
    padding-inline-start: 4px;
  }
  &:not(:has([slot='start'])) ion-title {
    padding-inline-start: calc(16px + 12px);
  }
}

ion-toolbar.md:not(.md3-disabled) {
  ion-back-button.back-button-has-icon-only {
    --icon-font-size: 24px;
    &::part(native) {
      width: 48px;
      height: 48px;
      padding: 0;
    }
  }

  ion-button.button-has-icon-only:not(.button-small):not(.button-large) {
    &::part(native) {
      width: 48px;
      height: 48px;
    }
    &.button-solid {
      &::part(native) {
        width: 40px;
        height: 40px;
      }
    }
  }
}
