ion-popover.md:not(.md3-disabled) {
  --box-shadow: var(--md-sys-elevation-level-3);
  --background: var(--md-sys-color-surface-container);
  --color: var(--md-sys-color-on-surface);

  &::part(content) {
    border-radius: var(--md-sys-shape-corner-medium);
  }

  ion-select-popover {
    ion-list {
      padding: 0;
    }
  }
}
