ion-searchbar.md:not(.md3-disabled) {
  --box-shadow: none;
  --border-radius: var(--md-sys-shape-corner-extra-large);
  --background: var(--md-sys-color-surface-container-highest);
  --color: var(--md-sys-color-on-surface);
  --icon-color: var(--md-sys-color-on-surface-variant);
  --placeholder-color: var(--md-sys-color-on-surface-variant);
  --clear-button-color: var(--md-sys-color-on-surface-variant);
  --cancel-button-color: var(--md-sys-color-on-surface-variant);
}
