ion-toast.md:not(.md3-disabled) {
  --background: var(--md-sys-color-inverse-surface);
  --color: var(--md-sys-color-inverse-on-surface);
  --button-color: var(--md-sys-color-inverse-primary);
  --box-shadow: var(--token-elevation-3);
  --border-radius: 8px;
}
