ion-card.md:not(.md3-disabled) {
  --color: var(--md-sys-color-on-surface);
  border-radius: 12px;
  box-shadow: var(--token-elevation-1);
  box-sizing: border-box;

  // Respect the Ionic `color` prop.
  &.ion-color {
    --background: var(--ion-color-base);
    --color: var(--ion-color-contrast);
  }

  // Reduce internal list item padding so content lines up with card insets.
  ion-list ion-item {
    --padding-start: 0;
  }
}
