ion-searchbar.md:not(.md3-disabled) {
  --box-shadow: none;
  --border-radius: 999px;
  --background: color-mix(in srgb, var(--md-sys-color-on-surface) 8%, transparent);
  --color: var(--md-sys-color-on-surface);
  --icon-color: var(--md-sys-color-on-surface-variant);
  --placeholder-color: var(--md-sys-color-on-surface-variant);
  --clear-button-color: var(--md-sys-color-on-surface-variant);
  --cancel-button-color: var(--md-sys-color-on-surface-variant);
}
