ion-content:not(.background-transparent)::after {
  box-shadow: none !important;
}

ion-list.list-inset {
  margin-bottom: 32px;
}

ion-item > ion-icon[slot='start'] {
  color: var(--ion-background-color, #fff);
}

.support-ios-structured {
  ion-item > ion-icon[slot='start'] {
    padding: 4px;
    font-size: 1.3rem;
    margin-right: 14px;
    border-radius: 8px;
  }
}

.support-md-structured {
  ion-item > ion-icon[slot='start'] {
    padding: 8px;
    width: calc(40px - 16px);
    height: calc(40px - 16px);
    margin-right: 16px;
    border-radius: 50%;
    background: var(--ion-color-light-shade);
  }
}

ion-list.user-info {
  margin-top: 0;
  margin-bottom: 0;
  ion-avatar {
    width: 64px;
    height: 64px;
    margin: 16px 16px 16px 0;
  }
  div {
    ion-label {
      font-weight: bold;
      font-size: 1.2rem;
    }
    ion-note {
      font-size: 0.9rem;
    }
  }
}
