<ion-split-pane contentId="main-content">
  <ion-menu [swipeGesture]="false" contentId="main-content" type="overlay">
    <ion-content>
      <ion-list [inset]="true">
        <ion-item-group>
          <ion-item href="/main/index" lines="none">
            <ion-icon aria-hidden="true" name="documents" slot="start"></ion-icon>
            <ion-label>Index</ion-label>
          </ion-item>
          <ion-item href="/main/docs" lines="none">
            <ion-icon aria-hidden="true" name="list" slot="start"></ion-icon>
            <ion-label>Docs</ion-label>
          </ion-item>
          <ion-item href="/main/album" lines="none">
            <ion-icon aria-hidden="true" name="images" slot="start"></ion-icon>
            <ion-label>Library</ion-label>
          </ion-item>
          <ion-item href="/main/settings" lines="none">
            <ion-icon aria-hidden="true" name="settings" slot="start"></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-item>
        </ion-item-group>
      </ion-list>
    </ion-content>
  </ion-menu>

  <section id="main-content">
    <ion-tabs>
      <ion-toolbar class="tab-accessory" [class.tab-bar-hidden]="!showAccessory" (click)="onAccessoryActivate()">
        <ion-thumbnail slot="start">
          <img data-tab-accessory="artwork" src="https://picsum.photos/128/128?id=12" alt="" />
        </ion-thumbnail>
        <ion-label>
          <h2 data-tab-accessory="title">Now Playing</h2>
          <p data-tab-accessory="subtitle">Demo Artist</p>
        </ion-label>
        <ion-buttons slot="end">
          <span data-tab-accessory="time">
            <span data-tab-accessory="elapsed">1:24</span>
            <span data-tab-accessory="duration">3:45</span>
          </span>
          <ion-button data-tab-accessory="play" fill="clear" (click)="togglePlay($event)" [attr.aria-label]="playing ? 'Pause' : 'Play'">
            <ion-icon slot="icon-only" [name]="playing ? 'pause' : 'play'" aria-hidden="true"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-progress-bar value="0.4"></ion-progress-bar>
      </ion-toolbar>
      <ion-tab-bar id="tab-bar-bottom" slot="bottom">
        <ion-tab-button tab="index" href="/main/index">
          <ion-icon aria-hidden="true" name="documents"></ion-icon>
          <ion-label>Index</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="docs" href="/main/docs">
          <ion-icon aria-hidden="true" name="list"></ion-icon>
          <ion-label>Docs</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="album" href="/main/album">
          <ion-icon aria-hidden="true" name="images"></ion-icon>
          <ion-label>Library</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="settings" href="/main/settings">
          <ion-icon aria-hidden="true" name="cog"></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </section>
</ion-split-pane>
