<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-back-button slot="start" defaultHref="/main/index"></ion-back-button>
    <ion-title>inputs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-list [inset]="true">
    <ion-item-group class="item-group-header">
      <ion-item>
        <ion-label>
          <ion-icon name="logo-ionic" style="background: linear-gradient(#489bfd, #2b77f4)"></ion-icon>
          <h2>inputs</h2>
          <ion-header collapse="condense">
            <ion-toolbar></ion-toolbar>
          </ion-header>
          <ion-text><code>This page is a component demo for &#64;rdlabo/ionic-theme-md3.</code></ion-text>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <ion-list [inset]="true">
    <ion-item-group>
      <ion-item>
        <ion-input label="Default label" placeholder="Enter text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Fixed label" labelPlacement="fixed" placeholder="Enter text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Stacked label" labelPlacement="stacked" placeholder="Enter text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Floating label" labelPlacement="floating" placeholder="Enter text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Helper text" placeholder="Enter text" helperText="This is helper text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Counter" placeholder="Enter text" [counter]="true" [maxlength]="20"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input class="ion-invalid ion-touched" label="Error text" placeholder="Enter text" errorText="This is error text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" label="Password" value="NeverGonnaGiveYouUp">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-list [inset]="true">
    <ion-item-group>
      <ion-item>
        <ion-textarea label="Default label" placeholder="Enter textarea"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-textarea label="Fixed label" labelPlacement="fixed" placeholder="Enter textarea"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-textarea label="Stacked label" labelPlacement="stacked" placeholder="Enter textarea"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-textarea label="Floating label" labelPlacement="floating" placeholder="Enter textarea"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-textarea label="Helper text" placeholder="Enter textarea" helperText="This is helper text"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-textarea
          label="Counter formatter"
          placeholder="Enter textarea"
          [counter]="true"
          [counterFormatter]="counterFormatter"
          [maxlength]="100"
        ></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-textarea
          class="ion-invalid ion-touched"
          label="Error text"
          placeholder="Enter textarea"
          errorText="This is error text"
        ></ion-textarea>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-list [inset]="true">
    <ion-item-group>
      <ion-item>
        <ion-input fill="outline" label="Outline input" placeholder="Enter text"></ion-input>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item>
        <ion-textarea fill="outline" label="Outline textarea" placeholder="Enter textarea"></ion-textarea>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item>
        <ion-input fill="outline" label="Outline input" placeholder="Enter text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input fill="outline" label="Outline helper text" placeholder="Enter text" helperText="This is helper text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          class="ion-invalid ion-touched"
          fill="outline"
          label="Outline error text"
          placeholder="Enter text"
          errorText="This is error text"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea fill="outline" label="Outline textarea" placeholder="Enter textarea"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-textarea
          fill="outline"
          label="Outline helper text"
          placeholder="Enter textarea"
          helperText="This is helper text"
        ></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-textarea
          class="ion-invalid ion-touched"
          fill="outline"
          label="Outline error text"
          placeholder="Enter textarea"
          errorText="This is error text"
        ></ion-textarea>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
