$groups: ion-item-group, ion-reorder-group, ion-accordion-group, ion-radio-group;

@mixin support-text() {
  ion-item {
    &:has(ion-input.input-fill-outline),
    &:has(ion-textarea.textarea-fill-outline),
    &:has(ion-select:is([helpertext]:not([helpertext='']), [errortext]:not([errortext='']))),
    &:has(ion-input .input-bottom > :is(.helper-text:not(:empty), .error-text:not(:empty), .counter:not(:empty))),
    &:has(ion-textarea .textarea-bottom > :is(.helper-text:not(:empty), .error-text:not(:empty), .counter:not(:empty))) {
      --inner-border-width: 0;
      --inner-padding-bottom: 4px;
    }

    ion-input .input-bottom:not(:has(> :is(.helper-text:not(:empty), .error-text:not(:empty), .counter:not(:empty)))),
    ion-textarea .textarea-bottom:not(:has(> :is(.helper-text:not(:empty), .error-text:not(:empty), .counter:not(:empty)))) {
      display: none;
    }
  }
}

@mixin layout($outer-note-inset, $group-border-radius) {
  background: transparent;

  ion-list-header {
    display: flex;
    align-items: center;

    ion-label {
      font-size: 0.9rem;
      margin: 8px 4px 4px;
      color: var(--ion-color-medium-tint);
    }

    ion-button {
      margin-top: 8px;
    }

    ion-note {
      font-size: 0.9rem;
      margin: 8px 16px 4px 0;
    }
  }

  ion-item-group.item-group-header {
    & > ion-item > ion-label {
      width: 100%;
      text-align: center;
      padding: 32px 16px 16px;
      transform: translateX(5px);

      /**
       * ion-header.header-collapse-condenseを使って、スクロールによってHeaderを変化させるトリック
       */
      ion-header.header-collapse-condense > ion-toolbar {
        --min-height: 0;
        visibility: hidden;
      }

      ion-icon {
        font-size: 2.8rem;
        color: #ffffff;
        border-radius: 20%;
        padding: 6px;
      }

      h2 {
        font-size: 1.2rem;
        font-weight: bold;
        margin-top: 8px;
      }

      ion-text {
        font-size: 0.9rem;
      }
    }
  }

  > :is(#{$groups}) {
    display: block;
    border-radius: $group-border-radius;
    overflow: hidden;

    &:has(> .radio-group-top) {
      display: flex;
      flex-direction: column;
      border-radius: 0;
      overflow: visible;

      > .radio-group-top {
        order: 1;
        font-size: 0.9rem;
        padding-block-start: 8px;
      }

      > ion-item:first-of-type {
        --border-radius: #{$group-border-radius} #{$group-border-radius} 0 0;
      }

      > ion-item:last-of-type {
        --border-radius: 0 0 #{$group-border-radius} #{$group-border-radius};
      }
    }

    &:not(:first-of-type) {
      margin-top: 16px;
    }

    ion-item {
      &:has(> ion-label:not([slot])):has(> ion-note:not([slot])) {
        &::part(container) {
          flex-direction: column;
          justify-content: center;
          padding-top: 14px;
          padding-bottom: 14px;
          min-height: 64px;
        }
        & > ion-label,
        & > ion-note {
          width: auto;
          align-self: flex-start;
        }
        & > ion-label {
          margin: 0;
          font-weight: 500;
          font-size: 1.15rem;
          line-height: 0.9rem;
        }
        & > ion-note {
          font-size: 0.85rem;
        }
      }

      ion-text[slot='end'] {
        padding-left: 8px;
      }

      &.item-disabled {
        opacity: 1;

        & > * {
          opacity: 0.4;
        }

        &::part(detail-icon) {
          opacity: 0.1;
        }
      }

      ion-button[slot='end'] {
        &.ion-align-self-end {
          transform: translateY(-7px);
        }
        ion-icon[slot='icon-only'] {
          font-size: 1.2rem !important;
          transform: translateY(4px);
        }
      }
    }
  }

  & > ion-note {
    color: var(--ion-color-medium-tint);
    font-size: 0.9rem;
    display: block;
    margin: 8px calc(var(--ion-safe-area-right, 0) + $outer-note-inset) 8px calc(var(--ion-safe-area-left, 0) + $outer-note-inset);
  }
}
